<template>
  <div class="home">
    <v-container>
      <v-layout>
        <v-flex class="d-flex justify-space-around">
          <v-card
            class="d-flex align-center justify-space-around mt-12"
            v-for="(timer, i) in allTimers"
            :key="i"
            width="400"
          >
            <v-card-title>
              {{ timer.name }}
            </v-card-title>
            <v-card-actions>
              <v-btn
                color="success"
                :to="{ path: '/timer', query: { number: i }, props: allTimers }"
              >
                <v-icon left>mdi-alarm</v-icon>
                Go to
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: 'home',
  props: ['allTimers']
}
</script>
