<template>
  <v-container>
    <v-layout class="d-flex justify-center mt-12">
      <v-card
        class="d-flex justify-center align-center"
        width="500px"
        height="300px"
      >
        <v-card-title>
          <counter-down :passTimer="passTimer"></counter-down>
        </v-card-title>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
import CounterDown from '../components/CounterDown'
export default {
  name: 'Timer',
  props: ['allTimers'],
  components: {
    CounterDown
  },
  data: () => ({
    passTimer: {}
  }),
  mounted () {
    this.passData()
  },
  methods: {
    passData () {
      for (let key in this.allTimers) {
        if (this.$route.query.number === `timer${this.allTimers[key].timerId}`) {
          this.passTimer = this.allTimers[key]
        }
      }
    }
  }
}
</script>
