<template>
  <div class="timer-block d-flex justify-space-around">
    <div class="d-flex align-center flex-column">
      <div class="days">{{ passTimer.hours }}</div>
      <div class="days-text">Hours</div>
    </div>
    <div class="d-flex align-center flex-column">
      <div class="days">{{ passTimer.minutes }}</div>
      <div class="days-text">Minutes</div>
    </div>
    <div class="d-flex align-center flex-column">
      <div class="days">{{ passTimer.seconds }}</div>
      <div class="days-text">Seconds</div>
    </div>
  </div>
</template>

<script>
// import { eventBus } from '../main'
export default {
  name: 'CounterDown',
  props: ['passTimer'],
  data: () => ({
  })
}
</script>

<style>
  .v-card__title {
    width: 100%;
  }
  .timer-block {
    width: 100%;
  }
  .timer-block .days {
    font-size: 50px;
  }
  .timer-block .days-text {
    font-size: 20px;
  }
</style>
