<template>
  <v-app id="inspire">
    <v-snackbar
      top
      multi-line="true"
      color="success"
      v-model="snackbar"
    >
      {{ snackbarText }}
      <v-btn
        text
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
    >
      <v-list dense>
        <v-list-item
          v-for="(route, i) in routes"
          :key="i"
          :to="route.to"
          link>
          <v-list-item-action>
            <v-icon>{{ route.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ route.name }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>Test Timers Application</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <router-view :allTimers="allTimers"></router-view>
    </v-content>

    <v-footer app>
      <span>&copy; 2020</span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'DefaultLayout',
  data: () => ({
    snackbar: false,
    snackbarText: '',
    drawer: null,
    routes: [
      {
        to: '/',
        name: 'Home',
        icon: 'mdi-home'
      }
    ],
    allTimers: {
      timer1: {
        hours: '',
        minutes: '',
        seconds: '',
        name: '',
        timerId: ''
      },
      timer2: {
        hours: '',
        minutes: '',
        seconds: '',
        name: '',
        timerId: ''
      }
    }
  }),
  computed: {
    ...mapState(['timers'])
  },
  async mounted () {
    this.$vuetify.theme.dark = true
    await this.getTimers()
    await this.createArrTimers()
  },
  methods: {
    ...mapActions(['getTimers']),
    createArrTimers () {
      Object.values(this.timers.timers).forEach((item, i) => {
        item.timerId = i
        this.countDownTimer(item)
      })
    },
    countDownTimer (timer) {
      const _t = this
      let hours, minutes, seconds

      let endDate = (new Date().getTime() / 1000) + timer.time
      if (isNaN(endDate)) return

      setInterval(calculateTime, 1000)

      function calculateTime () {
        let startDate = new Date().getTime() / 1000
        let timeLeft = endDate - startDate

        if (timeLeft >= 0) {
          hours = parseInt(timeLeft / 3600)
          timeLeft = timeLeft % 3600

          minutes = parseInt(timeLeft / 60)
          timeLeft = timeLeft % 60

          seconds = parseInt(timeLeft)

          if (minutes === 0 && seconds === 0) {
            _t.snackbar = true
            _t.snackbarText = `${timer.name} is COMPLETE!`
          }

          if (timer.timerId === 0) {
            _t.allTimers.timer1.hours = hours < 10 ? `0${hours}` : hours
            _t.allTimers.timer1.minutes = minutes < 10 ? `0${minutes}` : minutes
            _t.allTimers.timer1.seconds = seconds < 10 ? `0${seconds}` : seconds
            _t.allTimers.timer1.name = timer.name
            _t.allTimers.timer1.timerId = timer.timerId + 1
          } else {
            _t.allTimers.timer2.hours = hours < 10 ? `0${hours}` : hours
            _t.allTimers.timer2.minutes = minutes < 10 ? `0${minutes}` : minutes
            _t.allTimers.timer2.seconds = seconds < 10 ? `0${seconds}` : seconds
            _t.allTimers.timer2.name = timer.name
            _t.allTimers.timer2.timerId = timer.timerId + 1
          }
        } else {
          return clearInterval(calculateTime)
        }
      }
    }
  }
}
</script>
